



body{
      color: white;
      background-color: black;
}


.tags{
    background-color: #0abde3;
    margin-right: 0.5rem;
    margin-top: 0.5r;
    padding: 3px 10px;
    display: inline-block;
    color: white;
    font-size: 12px;
}

.tags:last-child{
    margin: 0;
}
